:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

ul {
  list-style: none;
}

main {
  width: 700px;
  border-radius: 12px;
  box-shadow: 0 15px 20px 10px rgba(37, 43, 70, 0.1);
}

.community {
  padding: 40px;
}

h2 {
  color: var(--cyan);
  padding-bottom: 25px;
  opacity: 0.9;
}

.community h3 {
  font-weight: 700;
  color: var(--bright-yellow);
  padding-bottom: 16px;
  opacity: 0.9;
}

.community p {
  color: var(--grayish-blue);
  line-height: 30px;
  opacity: 0.7;
}

.plan {
  display: flex;
}



footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}